[submodule "modules/libcanard"]
	path = modules/libcanard
	url = https://github.com/UAVCAN/libcanard.git
[submodule "modules/ChibiOS"]
	path = modules/ChibiOS
	url = https://github.com/ChibiOS/ChibiOS.git
